@model N01511170_PassionProject.Models.AlbumViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumDto.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumDto.AlbumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumDto.Createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumDto.Createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumDto.RelaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumDto.RelaseDate)
        </dd>
    </dl>
    <dl>
        <dt>

            Songs in @Html.DisplayFor(model => model.AlbumDto.AlbumName)
        </dt>
        <dd>
            <ul>
                @foreach (var song in Model.AlreadyAdded)
                {
                    <li>
                        @song.SongName
                    </li>
                    @*<option value="@song.SongId">@song.SongName</option>*@
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumDto.AlbumId }) |
    @Html.ActionLink("Back to List", "List")
</p>
